/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
.idea/workspace.xml
/public/storage/product-images/
/public/product-images/*.jpg
/public/storage/product-images-xs/
/public/product-images-xs/*.jpg
*.jpg

.idea/GlobalTours.iml

.idea/inspectionProfiles/Project_Default.xml

.idea/jsLibraryMappings.xml

public/uploads/avatars/

.idea/deployment.xml

.idea
config/broadcasting.php
